$colors-dark: (
	base:#253546,
	card-base:lighten(#253546, 15%),
	card-text:white,
	card-title:#1dafec,
	card-dots : darken(#1dafec, 20%),
	text:#feffff,
	secondary-text:#feffff,
	user:#3cc5aa,
	cursorColor:#c7c7c7,
	skill-bar:#c1ddff,
	selected-text:#c1ddff,
	links:#3c8ce2
);

$colors: (
	base:#fdf6e3,
	card-base:#e2e2d1af,
	card-text:black,
	card-title:#3178b3,
	card-dots : darken(#3178b3, 10%),
	text:#657b83,
	user:#6c71c4,
	secondary-text:#72716e,
	cursorColor:#23918c,
	skill-bar:#002b36,
	selected-text:#586e75,
	links:#005bbb
);

$font-stack: 'Fira Code', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
	sans-serif;

@function getColor($color-name) {
	@return var(--color-#{$color-name});
}
