@use './constants.scss' as *;

nav {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	#navbar-btns {
		display: flex;
		align-items: center;
		justify-content: space-around;
		list-style-type: none;

		li {
			margin: 1.5rem;
			cursor: pointer;
			color: getColor(text);
			font-size: 1.25rem;
			display: block;

			a {
				text-decoration: none;
				color: getColor(text);
			}
		}
	}
	#burger {
		display: none;
		span {
			font-size: 3rem;
		}
	}
}

// @media screen and (max-width: 768px) {
// 	nav {
// 		display: flex;
// 		align-items: flex-start;
// 		justify-content: flex-start;
		

// 		#navbar-btns {
// 			//display: none;
// 			flex-direction: column;
// 		}

// 		#burger {
// 			display: block;
// 			cursor: pointer;
			
// 		}
// 	}
// }

//underline code from
// https://tiffanywhite.dev/2019/12/02/a-simple-terminal-website-with-css-and-typewriterjs/

.underline:hover {
	color: getColor(selected-text);
}

.underline {
	position: relative;
}

.underline::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	background-color: getColor(selected-text);
	transform-origin: bottom right;
	transform: scaleX(0);
	transition: transform 0.5s ease;
}

.underline:hover::before {
	transform-origin: bottom left;
	transform: scaleX(1);
}

#page-title {
	color: getColor(cursorColor);
	margin-left: auto;
}