@use './main.module.scss' as *;
@use './nav.module.scss' as * ;
@use './constants.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap');


// prefers-color-scheme code from https://www.youtube.com/watch?v=OMaw2VYVZs4&list=TLPQMjAwNTIwMjFNcfOCGmikIg&index=7

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	@each $name, $color in $colors {
		--color-#{$name}: #{$color};
	}
	--theme: 'light';
}

@media (prefers-color-scheme: dark) {
	:root {
		@each $name, $color in $colors-dark {
			--color-#{$name}: #{$color};
		}
		--theme: 'dark';
	}
}

body {
	font-family: $font-stack;
	background-color: getColor(base);
	//center container
	display: flex;
	justify-content: center;
	align-items: center;
}

//change scrollbar
body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background-color: getColor(base);
}

body::-webkit-scrollbar-thumb {
	background-color: black;
}

.container {
	min-height: 100vh;
	position: relative;
	padding-bottom: 2.5rem;
	width: 60%;

	display: flex;
	justify-content: center;
	align-items: center;

	color: getColor(text);
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	overflow-x: visible;
}
